html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

//imagen
.responsive {
  padding: 0 6px;
  float: left;
  width: 100%;
}

.gallery > img {
  width: 100%;
  height: auto;
  display: block;
  padding: 5px;
}
.gallery {
  align-content: flex-end;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 100%;
  }
}
#subtitulo {
  font-family: cursive;
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
#logo {
  text-decoration: none;
  :hover {
    text-decoration: none;
  }
}
